body {
    background-color: #d1cece;
}

.padding {
    padding: 3rem !important;
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 20px;
}

.user-profile {
    border-radius: 8px 0 0 8px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #203245, #13202b);
}

.user-profile .card-block {
    padding: 20px 0;
}

.card-block {
    padding: 1.5rem;
}

.m-b-25 {
    margin-bottom: 25px;
    margin-left: 2.5rem;
}

.img-radius {
    border-radius: 50%;
}

h6 {
    font-size: 16px;
}

.card .card-block p {
    line-height: 1.6;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 16px;
    }
}

.b-b-default {
    border-bottom: 1px solid #555;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.text-muted {
    color: #aaa;
    margin-left: 2rem;
}

.f-w-600 {
    font-weight: 600;
    margin-left: 2rem;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    transition: all 0.3s ease-in-out;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button,
.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover,
.logout-button:hover {
    background-color: #000;
}

.info-block {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #333;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.bas{
    font-size: 65px;
}

